@model IEnumerable<TicketingSystem.Web.Models.ViewAllTicketsViewModel>

@{
    ViewBag.Title = "ViewAll";
}

<table class="table">
    <tr>
        <th>
            @*@Html.ActionLink("Title", "ViewAll", new { sortCriteria = "Title" })*@
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @*@Html.ActionLink("Category", "ViewAll", new { sortCriteria = "Category" })*@
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @*@Html.ActionLink("Author", "ViewAll", new { sortCriteria = "Author" })*@
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @*@Html.ActionLink("Priority", "ViewAll", new { sortCriteria = "Priority" })*@
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
    </tr>
}
</table>
@for (int pageNumber = 1; pageNumber <= ViewBag.NumberOfPages; pageNumber++)
{
    string linkText = string.Format("{0} ", pageNumber);
    @Html.ActionLink(linkText, "ViewAll", new { id = pageNumber })
}
