@model IEnumerable<TicketingSystem.Web.Models.HomeTicketsViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var ticket in Model)
    {
        <div class="col-md-4">
            <h3>@ticket.Title</h3>
            <p><strong>Category:</strong> @ticket.CategoryName</p>
            <p><strong>Author:</strong> @ticket.AuthorName</p>
            <p>@ticket.CommentsCount comment(s)</p>
            <p><a class="btn btn-default" href="@Url.Action("Details", "Tickets", new { ticket.Id })">More details...</a></p>
        </div>
    }
</div>